.About-container {
  padding-top: 140px;
}

.About-container > h1 {
  font-size: 1.7em;
  color: #41adbe;
}

.about {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 75%;
  margin: auto;
  gap: 60px;
}

.about img {
  max-width: 100%;
  height: auto;
}

.about-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 50%;
}

@media (max-width: 800px) {
  .About-container {
    padding-top: 120px;
  }
  .About-container > h1 {
    font-size: 1.3em;
    width: 80%;
    margin: auto;
    font-weight: bold;
    padding-top: 10px;
  }

  .about {
    flex-direction: column;
    gap: 5px;
  }

  .about-paragraph {
    padding-top: 30px;
    width: 100%;
    order: -1;
  }

  .about img {
    max-width: 60%;
    order: 1;
  }
}
