.custom {
  display: block;
  padding-bottom: 10px;
}

.topheader {
  /* background-image: url(../img/header.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: var(--primary-color);
  height: 32px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-icon {
  color: rgb(0, 162, 255);
  border-radius: 50%;
}

.inside {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo > img {
  width: 6%;
}

.logo > p {
  font-family: 'East Sea Dokdo', serif;
  color: rgb(53, 176, 247);
  font-size: 1.5em;
}
