nav {
  width: 75%;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  margin: auto;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.header-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.header-logo > img {
  width: 10%;
  cursor: pointer;
}

hr {
  width: 75%;
  margin: auto;
  border: 1px solid #41adbe;
  margin-bottom: 10px;
}
