.slideshow {
  position: relative;
  margin: 0 auto;
  background-color: rgba(229, 231, 235);
  padding-top: 20px;
  width: 100%;
}

.slideshow h1 {
  color: #1262a4;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.slideshow-circle.selected {
  background-color: black;
}

@media (max-width: 800px) {
  .slideshow {
    padding-bottom: 100px;
  }
}
